
         
header {
	display: block;
	padding-top: 16px;
	position: relative;
	z-index: 999;
	background: #f2f0f0 ;
	padding-bottom: 31px;
	border-bottom: 1px solid #dddbdb;
	margin: auto;
	margin-bottom: 15px;
}
 
	  


	 .nav{
		 display: inline-block;
		 margin-left: 350px;
		 margin-top: -60px;
		 font-size: 20px;
	 }






     .carousel1 {
        height: 249px;
        right: -500px;
    
        
    }
    
    .carousel1  {
    
        width: 240px !important;
        font-size: 12px;
        display: inline-block;
        
    }
    
    .carousel1 div {
        padding: 0 10px;
        right: -500px;
        font-size: 17px;
    }
    
    .carousel1  .price {
        display: inline-block;
        background: #699440;
        color: #fff;
        min-width: 41px;
        height: 38px;
        border-radius: 4px;
        font: 20px/36px 'Lobster', cursive;
        text-align: center;
        margin-top: 15px;
        margin-left: 50px;
         
    }

    .price{
        top:-10px;
        bottom: -4px;
        
    }
    
     
    
    .carousel1 img {
        box-shadow: 2px 2px 3px #ddd;
        padding: 4px;
        background: #fff;
        border: 1px solid #e6e4e4;
         -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -o-box-sizing: border-box;
     box-sizing: border-box;
     margin-bottom: 19px;
     right: -500px;
     margin-left: 15px;
    }






















     
 
.socials {
	overflow: hidden;
	  
}

 



.socials a {
	background: url(socials.png) 0 0 no-repeat;
	width: 26px;
	float: left;
	display: block;
	height: 27px;
	margin-left: 11px;
 
}

.socials a:hover {
	opacity: 0.5;
 
}

.socials a:first-child {
	margin-left: 70px;
}

.socials a:first-child+a {
	background: url(socials.png) -38px 0 no-repeat;
	 
}

.socials a:first-child+a+a {
	background: url(socials.png) right 0 no-repeat;
	 
}



footer {
	display: block;
	padding: 45px 0;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: green;
}

footer a:hover {
	color: #fff;}